.governmentbanner-wrapper {
  width: 100%;
  display: inline-block;
}

.governmentbanner-wrapper img {
  height: 11px;
  width: 16px;
}

.governmentbanner.block > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  height: 26px;
  background-color: var(--grey);
  align-items: center;
}

.governmentbanner.block div > p {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* optional spacing between image and text */
  margin: 0;   /* remove default margin */
}

.governmentbanner.block > div:nth-child(1) div {
    max-width: 920px;
    margin: 0 auto;
}

.governmentbanner.block > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  justify-content: center; /* centers items horizontally */
  align-items: center;     /* centers items vertically */
  gap: 3rem;
  max-width: 1000px;
  margin: auto;
}

.governmentbanner.block > div:nth-child(2) > div:nth-child(2) {
  width: 400px;
}

.governmentbanner.block > div:nth-child(2) img {
  height: 60px;
  width: 60px;
}

.governmentbanner.block > div:nth-child(2) img {
  margin: 52px 0;
}

